.App {
   background-image: url("C:\Users\Fer Albo\OneDrive\Escritorio\Henry\rick_and_morty\rick-and-morty\Client\src\assets\img\rick_y_m_fondo.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
